.results-page-table-container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
 
#results-page-table-container table {
    border-radius: 20px;
    padding: 20px;
    border-collapse: separate;
}
 
#results-page-table-container table td {
    padding: 3px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #00204E;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #00204E;
}
 
#results-page-table-container table th {
    text-align: center;
    position: sticky;
    top: 2px;
    z-index: 10;
    background-color: #00204E;
    color: white;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #00204E;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #00204E;
}
 
#results-page-table-container table td:last-child {
    padding: 3px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #00204E;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #00204E;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #00204E;
 
}
 
#results-page-table-container table th:last-child {
    text-align: center;
    position: sticky;
    top: 2px;
    z-index: 10;
    background-color: #00204E;
    text-decoration-color: white;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #00204E;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #00204E;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #00204E;
}